/* The checkboxContainer */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top:3px;
    margin-bottom: -1px;
    cursor: pointer;
    font-size: 14px;
    font-weight:400;
    color: #282c3f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    /* margin-top:-10px; */
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    border:1px solid grey;
    /* font-weight: 300; */
    border-radius:2px;
    width: 15px;
    background-color: white;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: red;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxContainer .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkboxContainer p{
    /* margin:-10px 0px  */
    position: relative;
    top:-6px;
    left:-5px;
    font-weight: 400;
  }
  .checkboxContainer p>span{
    font-size: 11px;
    font-weight: 300;
    color: #8e929e;
  }