    *{
        font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    }
    #footermain{
        margin-top:50px;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }
    #links1{
        width: 73%;
        height: 400px;
        
        margin: auto;
        display: flex;
    }
    .online{
        width: 180px;
        height: 400px;
        text-align: left;
        
    }
    .online p{
        font-size: 12px;
        font-weight: 500;

    }
    button{
        border: none;
        color: grey;
    }
    #social{
        width: 350px;
        line-height: 12px;
        
    }
    #play1{
        width: 300px;
        height: 100px;
        margin-bottom: 15px;
    }
    #social>p{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 1px;
    }
    #keep1{
        width: 150px;
    }
    #firstlast{
        width: 270px;
    }
    #ori1{
        display: flex;
        font-weight: 500;
    }
    #ori1 img{
        width: 48px;
        height: 40px;
        margin-top: 20px;
        margin-right: 10px;
    }
    #ret1{
        display: flex;
        font-weight: 500;
    }
    #ret1 img{
        width: 48px;
        height: 49px;
        margin-top: 20px;
        margin-right: 10px;
    }


    #popular1{
        width: 73%;
        height: 180px;
        
        margin: auto;
        color: #696B79;
    }
    #contact1{
        width: 73%;
        height: 80px;
        
        margin: auto;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        color: #696B79;
    }
    #address1{
        width: 73%;
        height: 230px;
        /* border: 1px solid black; */
        margin: auto;
        font-size: 16px;
        color: #696B79;
    }
    .details2{
        width: 73%;
        height: 150px;
        /* border: 1px solid black; */
        margin: auto;
        font-size: 16px;
        color: #696B79;
    }
    #details3{
        width: 73%;
        height: 750px;
        /* border: 1px solid black; */
        margin: auto;
        font-size: 16px;
        color: #696B79;
    }